.album-card-dynamic-img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.album-card-dynamic-img.visible-img {
  display: block !important;
}

.album-card-placeholder.hidden-placeholder {
  display: none !important;
}
